<a href="<%= gui_id %>/edit">
  <button class="button-secondary pure-button">
    <i class="fa fa-pencil"></i> editar
  </button>
</a>
<button class="button-error pure-button" onclick="document.getElementById('destroy-form').submit()">
  <i class="fa fa-times"></i> borrar
</button>

<form id="destroy-form" action="/<%= model %>/destroy" method="POST">
  <input type="hidden" name="id" value="<%= db_id %>" />
  <input type="hidden" name="origin" value="<%= origin %>" />
</form>
