<header>
  <nav class="el-skin pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" title='Go to homepage' class="pure-menu-heading">
      <img src="/images/explica-logo.png" alt="Explica la ley logo" class='pure-img' />
    </a>
    <ul>
      <% if (req.session.user) {%>
        <% if (req.session.user.role == 'admin') { %>
          <li>
            <a href="/admin">Admin</a>
          </li>
        <% } %>
        <li>
          <a href="/notificaciones">
            Notificaciones 
            <span id="navbar-notifications" class="pure-badge">...</span>
          </a>
        </li>
        <li>
          <a href="/perfil">Mi perfil</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      <% } else { %>
        <li><a href="/login">Iniciar Sesión</a></li>
      <% } %>
    </ul>
  </nav>
</header>
