<p>
  <% if (notification.type == 'vote_up') { %>
    <i class="notification-icon fa fa-thumbs-up green"></i>
    Recibiste un voto positivo en <br />
  <% } else if (notification.type == 'vote_down') { %>
    <i class="notification-icon fa fa-thumbs-down red"></i>
    Recibiste un voto negativo en <br />
  <% } else if (notification.type == 'reply') { %>
    <i class="notification-icon fa fa-comments"></i>
    Recibiste un comentario en <br />
  <% } %>
  <script>document.write(lookupArticleData(<%= notification.article %>))</script>
  <br />
  <i class="fa fa-clock-o"></i> <%= sails.config.globals.getFriendlyDate(notification.createdAt) %>
</p>
