<div class="pure-g l-box">
  <form method="POST" action="/ley/user/login" class="pure-form pure-form-stacked pure-u-1 pure-u-md-2-3 pure-u-lg-1-3 center-block">
    <legend>Iniciar Sesión</legend>
    <fieldset class="pure-group">
      <input id="email" type="email" placeholder="Correo electrónico" class="pure-input-1" aria-label="Ingresa tu correo electrónico">
      <input id="password" type="password" placeholder="Contraseña" class="pure-input-1" aria-label="Ingresa tu contraseña">
    </fieldset>
    <button type="submit" class="pure-button el-button el-button-primary pure-input-1">Iniciar Sesión</button>
  </form>
</div>
