<div class="law">
  <header class='text-center header l-box'>
    <h1 class="l-no-margin-b header-title"><%= law.name %></h1>
    <h2 class='header-subtitle'><%= law.summary %></h2>
  </header>

  <form action="#" method="GET" class="pure-form pure-g l-box" role="form">
    <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 center-block input-group'>
      <input type="text" id="filter" class="pure-input-1 input-w-icon" placeholder="Buscar artículo" />
      <i class='fa fa-search'></i>
    </div>
  </form>

  <h3 class='text-center l-box l-no-margin'>Artículos más discutidos</h3>
  <ul class="pure-g empty-ul card-listing">
    <% _.each( law.articles, function(article) { %>
      <li class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text-center card card-on-light card-w-meta l-box'>
        <article class='l-box'>
          <%- partial('../modules/_article_card', { article: article }) %>
        </article>
      </li>
    <% })%>
  </ul>
</div>
