<h2 class="col-md-offset-2">Nueva Ley</h2>
<form method="POST" action="/ley/law/create" class="col-md-4 col-md-offset-2" role="form">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la Ley" />
  </div>
  <div class="form-group">
    <label for="summary">Resumen</label>
    <textarea class="form-control" id="summary" name="summary" placeholder="Resumen de la ley, una pequeña descripción" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
