<h2 class="col-md-offset-2">Nueva tag</h2>
<h4>Un tag es un contenedor de leyes. Puedes verlo como una reforma.</h4>
<form method="POST" action="/ley/tag/create" class="col-md-4 col-md-offset-2 pure-form pure-form-stacked" role="form">
  <fieldset>
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required />
    <br />

    <label for="summary">Resumen corto (unas 20 palabras)</label>
    <input type="text" class="form-control" id="summary" name="summary" placeholder="Resumen" required />
    <br />

    <label for="slug">Slug (esto será parte de la URL)</label>
    <input type="text" class="form-control" id="slug" name="slug" placeholder="nombre-de-reforma" required />
    <small>SLUG: Debe de contener un nombre único y URL-friendly; de preferencia sin la palabra "Reforma" (por ejemplo: telecomunicaciones-y-transporte).</small>
    <br />
    <br />

    <button type="submit" class="pure-button el-button el-button-primary">Crear</button>
  </fieldset>
</form>
