<div class="law">
  <header class='text-center header l-box'>
    <h1 class="l-no-margin-b header-title">Leyes</h1>
  </header>
  <ul class="pure-g empty-ul card-listing">
    <% _.each(tags, function(tag) {%>
      <li class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text-center card card-on-light card-w-meta l-box'>
        <article class='l-box'>
          <%- partial('../modules/_tag_card', { tag: tag }) %>
        </article>
      </li>
    <% })%>
  </ul>
</div>
