<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:description" content="Traducir la ley para ciudadanos no familiarizados con la jerga legislativa.
    Resumir a las secciones más comentadas de una ley.
    Ver el texto original de la ley, para que puedas sacar tus propias conclusiones." />

    <title>explica.la/ley</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/vendor/annotator.min.css">
    <link rel="stylesheet" href="/styles/vendor/pure-extras.min.css">
    <link rel="stylesheet" href="/styles/extras.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <div class='l-main-wrapper'>

      <%- partial('./modules/_navbar') %>

      <div class='l-content-wrapper l-content-wrapper-constrained text-center'>
        <h2>Error 500: Algo inesperado ha sucedido en el sistema. Por favor, contáctanos y dinos cómo llegaste aquí: equipo@codeanodmexico.org!<h2>
      </div>

      <%- partial('./modules/_footer') %>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46973214-4', 'explica.la');
      ga('send', 'pageview');

    </script>
  </body>
</html>
