<h1>Entiende las implicaciones de las Ley de Telecom</h1>

<h3>Explica.la/ley es una propuesta para:</h3>
<ul>
  <li>Traducir la ley para ciudadanos no familiarizados con la jerga legislativa.</li>
  <li>Resumir a las secciones más comentadas de una ley.</li>
  <li>Ver el texto original de la ley, para que puedas sacar tus propias conclusiones.</li>
</ul>

<h3>Art&iacute;culos m&aacute;s discutidos</h3>
<ul>
  <li><a href="/ley/article/4">Art&iacute;culo 122</a></li>
  <li><a href="/ley/article/1">Art&iacute;culo 145</a></li>
  <li><a href="/ley/article/5">Art&iacute;culo 218</a></li>
  <li><a href="/ley/article/6">Art&iacute;culo 239</a></li>
  <li><a href="/ley/article/7">Art&iacute;culo 261</a></li>
</ul>

<h3>Colabora con la Ley</h3>
<p>Si deseas colaborar haciendo anotaciones sobre la ley, contáctanos en
<a href="mailto:equipo@codeandomexico.org">equipo.codeandomexico.org</a>

<h3>Colabora con el Open Source</h3>
<p>En Codeando México creemos firmemente en el gran valor que provee el Open Source.
<br /> El código de esta aplicaci&oacute;n est&aacute; disponible para que colabores</p>
<iframe src="http://ghbtns.com/github-btn.html?user=CodeandoMexico&repo=cambia-la-ley&type=fork&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
