<h1>Bienvenido</h1>

<% if (typeof session.user === "undefined") { %>
  <h3>Se te asignó una cuenta de usuario, porfavor entra con ella</h3>
  <a href="/ley/login" class="btn btn-lg btn-primary">Entrar</a>
<% } else { %>
  <h3>Escoge un artículo de la izquierda y haz anotaciones</h3>
  <h4>Para hacer anotaciones selecciona el texto deseado</h4>
<% } %>
