<h2 class="col-md-offset-2">Entra con tu cuenta <small>Solo colaboradores</small></h2>
<form method="POST" action="/ley/user/login" class="col-md-4 col-md-offset-2" role="form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
