<h2 class="col-md-offset-2">Nuevo artículo</h2>
<h4>Cada artículo debe de estar bajo una ley.</h4>
<form method="POST" action="/ley/article/create" class="col-md-3 col-md-offset-2" role="form">
  <div class="form-group">
    <label for="number">Número</label><br />
    <input type="number" class="form-control" id="number" name="number" placeholder="Número" min="1" required />
  </div>
  <br />
  <div class="form-group">
    <label for="body">Cuerpo</label><br />
    <textarea class="ckeditor" cols="80" id="body" name="body" rows="30" required>
    </textarea>
  </div>
  <br />
  <div class="form-group">
    <label for="law">Ley a la que pertenece:</label><br />
    <% if (direct) { %>
      <b><%= laws[0].name %></b>
      <input type="hidden" name="law" value="<%= laws[0].id %>" />
    <% } else { %>
      <% if (laws.length == 0) { %>
        <small>
          No has creado leyes.<br />
          Crea una ley en esta <a href="/law/create">liga</a> primero.<br />
          <u>No puedes crear artículos sin asociarlos a leyes.</u>
        </small>
      <% } else { %>
        <select name="law" required>
          <option value="">-SELECCIONA-</option>
          <% for(var i = 0; i < laws.length; i++) {%>
            <option value="<%= laws[i].id %>"><%= laws[i].name %></option>
          <% } %>
        </select>
      <% } %>
    <% } %>
  </div>
  <br />
  <% if (laws.length > 0) { %>
    <button type="submit" class="pure-button el-button el-button-primary">Crear</button>
  <% } else { %>
    <button class="pure-button pure-button-disabled">Crear</button>
  <% } %>
</form>
