.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.vertical-middle {
  vertical-align: middle;
}

.pure-img-eliptical {
  border-radius: 80%;
}
