.l-main-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.l-content-wrapper {
  margin-bottom: 3.75em;
}

.l-box {
  padding: 1em;
}

.l-spacer-b {
  margin-bottom: 1em;
}

.l-spacer-b-md {
  margin-bottom: 1.875em;
}

.l-spacer-r {
  margin-right: 1em;
}

.l-icon-spacer-r {
  margin-right: .5em;
}

.l-no-margin-b {
  margin-bottom: 0;
}

.l-no-margin-t {
  margin-top: 0;
}

.l-no-margin {
  margin: 0;
}

.l-container {
  padding: 2.5em 1em;
}
