html {
  height: 100%;
}
body {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  height: 100%;
  color: #333;
}
h1 {
  color: #A52A2A;
  font-weight: 800;
}
.article {
  padding: 10px 50px 350px 50px;
}

#wrapper {
  padding-left: 250px;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  left: 0px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  overflow-y: auto;
  color: #FFFFFF;
  margin-left: -250px;
  padding: 10px 20px;
  left: 250px;
  width: 250px;
  background: #333;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  margin: 15px 0px;
  padding: 15px 0px;
}

.sidebar-nav li {
  background-color: #FFFFFF;
  margin: 3px 0px;
  padding: 0px 10px;
}

.sidebar-nav a {
  color: black;
}

.sidebar-brand a {
  color: #FFFFFF;
}

.sidebar-brand {
  text-align: center;
  padding: 10px 0px;
}

.share {
  margin: 20px 0px;
}

.contribute a {
  color: #FFFFFF;
  font-size: 16px;
}

.law-title {
  text-align: center;
}

.navbar-toggle {
  float: none;
  border-color: #333;
  display: none;
}

.navbar-toggle .icon-bar {
  background-color: #333;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    left: 250px;
    transition: all 0.4s ease 0s;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  .navbar-toggle {
    display: block;
  }
}
