html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Open Sans" ,Helvetica,Arial,sans-serif;
  font-size: 20px;
  height: 100%;
  color: #333;
}

h1, h2 {
  color: #631878;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

.article {
  padding: 10px 50px 350px 50px;
}

ul {
  list-style-type: square;
}

.masthead {
  text-align: center;
  background-color: #631878;
  color: #FFFFFF;
  padding: 80px 50px;
  letter-spacing: 1px;
}

.masthead h1 {
  color: #FFFFFF;
}

.masthead h3 {
  margin: 0;
}

.masthead-description {
  text-align: left;
  padding: 30px 0px;
}

.masthead-description h3 {
  margin: 10px;
  font-weight: 200;
}

.masthead ul li {
  line-height: 25px;
  font-weight: 200;
}

.masthead-title {
  font-size: 60px;
  font-weight: 300;
  margin-top: 50px;
  letter-spacing: 2px;
}

.masthead-subtitle {
  font-weight: 100;
  font-size: 30px;
}

.content .row h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.btn-purple {
  color: #FFFFFF;
  background-color: #631878;
  border-color: #631878;
}

.btn-purple:hover {
  color: #631878;
  background-color: transparent;
  border-color: #631878;
}

div.section {
  padding: 30px 0px;
  border-bottom: 1px solid #e5e5e5;
}

div.section div.section-description {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

#wrapper {
  padding-left: 250px;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  left: 0px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  overflow-y: auto;
  color: #FFFFFF;
  margin-left: -250px;
  padding: 10px 20px;
  left: 250px;
  width: 250px;
  background: #333;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  margin: 15px 0px;
  padding: 15px 0px;
}

.sidebar-nav li {
  background-color: #FFFFFF;
  margin: 3px 0px;
  padding: 0px 10px;
}

.sidebar-nav a {
  color: black;
}

.sidebar-brand a {
  color: #FFFFFF;
}

.sidebar-brand {
  text-align: center;
  padding: 10px 0px;
}

.share {
  margin: 20px 41px;
}

.share.sharer-0 .social.active.center {
  margin-left: -23px !important;
}

.contribute a {
  color: #FFFFFF;
  font-size: 16px;
}

.law-title {
  text-align: center;
}

.navbar-toggle {
  float: none;
  border-color: #333;
  display: none;
}

.navbar-toggle .icon-bar {
  background-color: #333;
}

ul.list-boxes {
  list-style-type: none;
}

ul.list-boxes li {
  display: inline-block;
}

ul.list-boxes li div {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 330px;
  padding: 5px 15px;
  text-align: center;
  margin: 10px;
}

ul.list-boxes li hr {
  border: 1px solid black;
}

ul.list-boxes li p {
  text-align: left;
}

ul.list-boxes.collaborators li div {
  width: 350px;
  margin: 20px 40px;
}

#github-fork {
  font-size: 30px;
  margin: 30px 0px;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    left: 250px;
    transition: all 0.4s ease 0s;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  .navbar-toggle {
    display: block;
  }

  .article {
    padding: 10px 10px 350px 10px;
  }
}
