body {
  font-size: 20px;
  color: #333;
}

.article {
  padding: 10px 50px 350px 50px;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
  overflow-x: hidden;
}

#sidebar-wrapper {
  color: #FFFFFF;
  margin-left: -250px;
  padding: 10px 20px;
  left: 250px;
  width: 250px;
  background: #333;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  margin: 15px 0px;
  padding: 15px 0px;
}

.sidebar-nav li {
  background-color: #FFFFFF;
  margin: 3px 0px;
  padding: 0px 10px;
}

.sidebar-nav a {
  color: black;
}

.sidebar-brand a {
  color: #FFFFFF;
}

.sidebar-brand {
  text-align: center;
  padding: 10px 0px;
}

.share {
  margin: 20px 0px;
}

.contribute a {
  color: #FFFFFF;
  font-size: 16px;
}

.attribution {
  position: absolute;
  bottom: 10px;
}

.law-title {
  text-align: center;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
}
