.vote-btn-unvoted:hover {
  cursor: pointer;
  color: #12858D !important;
}
.vote-btn-voted {
  color: #12858D !important;
}
.vote-btn-voted:hover {
  cursor: default;
}
.inactive-font {
  color: #303949 !important;
}
.button-error,
.button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
  background: rgb(66, 184, 221);
}
.button-error {
  background: rgb(202, 60, 60);
}
.button-unseen-notifications {
  background: #BAEFDC;
}
.pure-badge-info {
  background-color: #1BCC8C;
}
.hidden {
  visibility: hidden !important;
}
.notification-container {
  text-align: center !important;
  margin: auto;
}
.notification {
  margin: 10px !important;
  padding: 0px !important;
  border-radius: 5px;
  border: 2px solid #1BCC8C;
}
.unseen-notification {
  background-color: #baefdc;
}
.bigicon {
  float: left;
  font-size: 2.5em;
  line-height: 0.5;
  margin: 0.215em 0.153em 0.6em 0.6em;
  opacity: 0.30;
}
.green {
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
