.vote-btn-unvoted:hover {
  cursor: pointer;
  color: #12858D !important;
}
.vote-btn-voted {
  color: #12858D !important;
}
.vote-btn-voted:hover {
  cursor: default;
}
.inactive-font {
  color: #303949 !important;
}
.button-error,
.button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
  background: rgb(66, 184, 221);
}
.button-error {
  background: rgb(202, 60, 60);
}
