<div class='home-well text-center l-box'>
  <h1 class='home-well-title l-no-margin'>
    <span>Traducimos la ley</span>
    <span class='home-well-text'>
      para ciudadanos no familiarizados con la jerga legislativa
    </span>
  </h1>
</div>

<div class='highlight-container l-container'>
  <section class='highlight-section'>
    <h2 class="highlight-section-title text-center l-no-margin-t">Leyes más discutidas</h2>
    <div class="pure-g">
      <% _.each(laws, function(law) { %>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 card card-w-meta text-center l-box">
          <%- partial('../modules/_law_card', {law: law}) %>
        </div>
      <% })%>
    </div>
  </section>
  <hr class='highlight-container-separator'>
  <section class='highlight-section'>
    <h2 class="highlight-section-title text-center">Colaboradores que explican la ley</h2>
    <div class="pure-g">
      <% _.each(members, function(member) { %>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 card card-w-image text-center l-box">
          <%- partial('../modules/_member_card', {member: member}) %>
        </div>
      <% })%>
    </div>
  </section>
  <p class='text-center'>
    Si deseas contribuir en las explicaciones de la ley, contáctanos en:
    <a href='mailto:equipo@codeandomexico.org'>equipo@codeandomexico.org</a>
  </p>
</div>

<div class='text-center l-container'>
  <h2 class='l-no-margin-b'>Suscríbete a nuestras actualizaciones:</h2>
  <p>(No te enviaremos spam, ni lo compartiremos con terceros</p>
  <form action="http://explica.us4.list-manage.com/subscribe/post?u=9999e133ff73ed69bbddc6af9&amp;id=5653afd8c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_9999e133ff73ed69bbddc6af9_5653afd8c1" tabindex="-1" value="" aria-hidden='true'>
    </div>
    <div class="pure-u-2-3 pure-u-md-1-4">
      <input type="email" value="" name="EMAIL" class="pure-input-1" id="mce-EMAIL" placeholder="Correo Electrónico" aria-label="Ingresa tu correo electrónico" required >
    </div>
    <button style='margin-top:0px;' type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"class="pure-button el-button el-button-primary l-no-margin-t" aria-label='Suscribirme'><i class="fa fa-check fa-lg"></i></button>
  </form>
</div>
