<div class="content">
  <div class="user-actions">
    <% if (req.session.user) {%>
      <a href="/ley/logout" class="pull-right">Logout</a>
    <% } else { %>
      <a href="/ley/login" class="pull-right">Login</a>
    <% } %>
  </div>
  <div class="masthead">
    <h1 class="masthead-title">Explica.la/ley</h1>
    <h3 class="masthead-subtitle">Entiende las implicaciones de las leyes.</h3>
  </div>

  <div class="section text-center">
    <h2>Explica.la/ley es una propuesta para:</h2>
    <div class="section-description">
      <ul class="text-left">
        <li>Traducir la ley para ciudadanos no familiarizados con la jerga legislativa.</li>
        <li>Resumir a las secciones más comentadas de una ley.</li>
        <li>Ver el texto original de la ley, para que puedas sacar tus propias conclusiones.</li>
      </ul>
    </div>
  </div>


  <div class="section text-center">
    <h2>Leyes m&aacute;s discutidas</h2>
    <ul class="list-boxes">
      <% _.each(laws, function(law) { %>
        <li><%- partial('../law/partials/law', law) %></li>
      <% })%>
    </ul>
    <a href="/ley/law">Ver todas las leyes</a>
  </div>

  <div class="section text-center">
    <h2>Colaboradores que explican la ley</h2>
    <ul class="list-boxes collaborators">
      <li>
        <div>
          <h3>Israel Rosas</h3>
          <hr />
          <p>Integrante de <a href="https://twitter.com/internetsociety" target="_blank">@internetsociety</a> M&eacute;xico y <a href="https://twitter.com/wikimedia_mx" target="_blank">@Wikimedia_mx</a>. Internet y telecomunicaciones (a t&iacute;tulo personal) en <a href="https://twitter.com/poblanerias" target="_blank">@Poblanerias</a>, <a href="https://twitter.com/fayerwayer" target="_blank">@FayerWayer</a>, <a href="https://twitter.com/ladobemx" target="_blank">@ladobemx</a> y <a href="http://irosasr.mx" target="_blank">irosasr.mx</a></p>
          <a href="https://twitter.com/irosasr" class="btn btn-purple btn-lg" target="_blank">@irosasr</a>
        </div>
      </li>
      <li>
        <div>
          <h3>Jes&uacute;s Romo</h3>
          <hr />
          <p>Analista independiente de telecomunicaciones, medios y TICs con experiencia en periodismo. Exatec. ITESM (LMI) y EGAP (Maestría en Análisis político y Medios).</p>
          <a href="https://twitter.com/dackjaniel" class="btn btn-purple btn-lg" target="_blank">@Dackjaniel</a>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="section-description">
      <p>Si deseas contribuir en las explicaciones de la ley, contáctanos en
      <a href="mailto:equipo@codeandomexico.org">equipo@codeandomexico.org</a>
    </div>
  </div>

  <div class="section text-center">
    <h2>Suscríbete para obtener actualizaciones</h2>
    <!-- Begin MailChimp Signup Form -->
    <form action="http://explica.us4.list-manage.com/subscribe/post?u=9999e133ff73ed69bbddc6af9&amp;id=5653afd8c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_9999e133ff73ed69bbddc6af9_5653afd8c1" tabindex="-1" value=""></div>
      <div class="input-group col-md-6 col-md-offset-3">
        <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Correo Electrónico" required>
        <span class="input-group-btn">
          <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-purple btn-lg">
            <span class="glyphicon glyphicon-envelope"></span>
          </button>
        </span>
      </div>
    </form>
    <!--End mc_embed_signup-->
    <div class="section-description">
      <p>No te enviaremos spam ni compartiremos tu email con terceros.</p>
    </div>
  </div>

  <div class="section text-center">
    <h2>Colabora con el Open Source</h2>
    <div class="section-description">
      <p>En Codeando México creemos firmemente en el gran valor que provee el Open Source,
      el código de esta aplicaci&oacute;n est&aacute; disponible para que colabores</p>
      <a href="https://github.com/CodeandoMexico/cambia-la-ley" id="github-fork" class="btn btn-purple btn-lg" target="_blank">
        <i class="fa fa-github fa-2x pull-left"></i> Fork us
      </a>
    </div>
  </div>
  <div class="masthead">
    <h4 class="masthead-subtitle">Creado por:</h4>
    <a href="http://codeandomexico.org" target="_blank">
      <img src="/images/cmx-logo-white.png" />
    </a>
  </div>
</div>
