<div class='l-content-wrapper l-content-wrapper-constrained'>
  <h1>Aviso de Privacidad</h1>
  <h4>Aviso de Privacidad amplio (recomendado)</h4>
  <p>Cívica Digital AC (Codeando México) es una organización de la sociedad civil que se dedica a promover la creación de comunidades para la solución de problemas ciudadanos a través de tecnología.</p>
  <p>Es responsable de recabar datos personales, del uso que se les dé a los mismos y de su protección, de conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y en su Reglamento.</p>
  <p>La información personal que nos proporcione será utilizada para invitarle o proveerle de las actividades de innovación cívica  que publiquemos,  informarle sobre condiciones y cambios en los mismos y evaluar la calidad del servicio que le prestamos.</p>
  <p>Para las finalidades antes mencionadas requerimos obtener de forma directa sus siguientes datos personales:</p>
  <p>• Usuario de Twitter</p>
  <p>Usted tiene derecho a acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento otorgado, a través de procedimientos que hemos implementado.Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto con nuestro departamento de datos personales enviando un correo a <a href="mailto:explicalaley@codeandomexico.org">explicalaley@codeandomexico.org</a>.</p>
  <p>Sus datos personales serán resguardados bajo estrictas medidas de seguridad administrativas, técnicas y físicas las cuales han sido implementadas con el objeto de proteger sus datos personales contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizados.</p>
  <p>Si usted desea dejar de recibir nuestras newsletters de nuestra parte puede solicitarlo en la siguiente dirección de correo electrónico: <a href="mailto:equipo@codeandomexico.org">equipo@codeandomexico.org</a>.</p>
  <p>Fecha de última actualización 10 de Febrero de 2015.</p>
  <h4>Aviso de Privacidad simplificado</h4>
  <p>Cívica Digital AC (Codeando México) utilizará sus datos personales aquí recabados para invitarle o proveerle de los servicios de retos e innovación que publiquemos. Para mayor información acerca del tratamiento y de los derechos que puede hacer valer, usted puede acceder al aviso de privacidad completo a través de <a href="http://www.explica.la/aviso-privacidad">http://www.explica.la/aviso-privacidad</a></p>
</div>
