<!-- expects to receive a law object -->
<div>
  <h3><%= law.name %></h3>
  <hr />
  <p>Mini resumen de la ley. Mini resumen de la ley. Mini resumen de la ley. Mini resumen de la ley. Mini resumen de la ley.</p>
  <a href="/ley/law/<%= law.id %>" class="btn btn-purple btn-lg" role="button">Ver más</a>
</div>
